@import '../../theme/variables.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: map-get($colors , 'background');
}

.content-card {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  padding: 20px
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
}

ion-textarea {
  flex: 1;
}

ion-button {
  margin-left: 10px;
}

.profile-card {
  display: flex;
}
