.content-card {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
}

ion-textarea {
  flex: 1;
}

ion-button {
  margin-left: 10px;
}
