ion-spinner {
    --color: #3880ff;
    /* Example spinner color */
}

ion-card {
    max-width: 400px; /* Adjust as needed */
    margin: auto;
    margin-top: 50px; /* Adjust for vertical positioning */
}
  
ion-avatar {
    margin: 0 auto;
}